*{
    margin: 0;
    padding: 0;
}

.container{
    margin: 0 auto;
    width: 1320px;
}

/* == opening banner area == */

#banner{
    width: 100%;
    height: 880px;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../images/banner__photo.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
}

.banner-wrapper{
    text-align: center;
    width: 100%;
    height: 880px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.banner-title{
    width: 50%;
    margin-bottom: 50px;
}

.banner-btn{
    width: 50%;
}

.banner-title h1{
    color: #fff;
    font-family: 'raleway', sans-serif;
    font-size: 50px;
    font-weight: 900;
    text-transform: uppercase;
    padding-bottom: 30px;
}

.banner-title p{
    color: #fff;
    font-family: 'montserrat', sans-serif;
    font-size: 18px;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 24px;
}

.banner-btn a{
    color: #fff;
    font-family: 'raleway', sans-serif;
    font-size: 18px;
    font-weight: 700;
    text-transform: capitalize;
    text-decoration: none;
    padding: 16px 18px;
    border-radius: 5px;
    background-color: #46C965;
}

/* == closing banner area == */

/* == opening donate area == */

#donate{
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: #fff;
}

.common-title{
    text-align: center;
    padding: 0 150px;
}

.common-title h3{
    color: #46C965;
    font-family: 'raleway', sans-serif;
    font-size: 28px;
    font-weight: 700;
    text-transform: uppercase;
    padding-bottom: 20px;
}

.common-title p{
    color: #48494b;
    font-family: 'montserrat', sans-serif;
    font-size: 16px;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 24px;
}

.amount-wrapper{
    width: 800px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    margin-top: 50px;
}

.box{
    width: 150px;
    height: 150px;
    background-color: #edf5f6;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box a{
    text-decoration: none;
    color: #707070;
    font-family: 'montserrat', sans-serif;
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
}

.box:hover{
    background-color: #b4fbc5;
    border: 1px solid #46C965;
}

.box:hover a{
    color: #46C965;
}


.amount-custom{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
}

.input-wrapper input{
    border: none;
    border-bottom: 1px solid #707070;
    width: 800px;
    margin-bottom: 30px;
    text-align: center;
    font-family: 'montserrat', sans-serif;
    font-size: 18px;
    font-weight: 400;
    text-transform: capitalize;
    padding-bottom: 7px;
}

.input-wrapper input:focus{
    outline: none;
}

.btn-wrapper{
    margin-top: 15px;
}

.btn-wrapper a{
    color: #fff;
    font-family: 'raleway', sans-serif;
    font-size: 18px;
    font-weight: 700;
    text-transform: capitalize;
    text-decoration: none;
    padding: 16px 18px;
    border-radius: 5px;
    background-color: #46C965;
}

/* == closing donate area == */

/* == opening plan area == */

#plan{
    padding-bottom: 100px;
    background-color: #fff;
}

.plan-wrapper{
    display: flex;
    justify-content: space-between;
}

.plan-item{
    width: 424px;
    background-color: #edf5f6;
    padding: 60px 25px;
    border-radius: 8px;
    margin-top: 50px;
    box-sizing: border-box;
}

.plan-item h3{
    padding-top: 30px;
    padding-bottom: 25px;
    color: #121212;
    font-family: 'raleway', sans-serif;
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
}

.plan-item p{
    color: #48494b;
    font-family: 'montserrat', sans-serif;
    font-size: 16px;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 24px;
}

/* == closing plan area == */


/* == opening partner area == */

#partner{
    padding-bottom: 100px;
}

.partner-title{
    margin: 0 auto;
    width: 70%;
    text-align: center;
}

.partner-title h3{
    color: #121212;
    font-family: 'raleway', sans-serif;
    font-size: 20px;
    font-weight: 500;
    text-transform: capitalize;
}

.partner-title h2{
    color: #46C965;
    font-family: 'raleway', sans-serif;
    font-size: 28px;
    font-weight: 700;
    text-transform: uppercase;
    padding-top: 8px;
    padding-bottom: 20px;
}

.partner-title p{
    color: #48494b;
    font-family: 'montserrat', sans-serif;
    font-size: 16px;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 24px;
}

.partner-logos{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    border-top: 1px solid #707070;
    border-bottom: 1px solid #707070;
    margin-top: 90px;
}

.partner-item{
    width: 250px;
    height: 250px;
}

.partner-item img{
    width: 100%;
    height: 100%;
}

/* == closing partner area == */

/* == opening newsletter area == */

#newsletter{
    padding-bottom: 100px;
}

.main{
    width: 80%;
    background-color: #edf5f6;
    padding-top: 70px;
    padding-bottom: 70px;
    margin: 0 auto;
    margin-top: 40px;
}

.mail-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 500px;
    
}

.mail-input{
    width: 80%;
    
    
}

.mail-input input{
    border: none;
    background-color: #48494b;
    color: #fff;
    width: 100%;
    font-family: 'montserrat', sans-serif;
    font-size: 18px;
    font-weight: 400;
    text-transform: capitalize;
    padding: 14px 14px;
    box-sizing: border-box;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.mail-btn{
    width: 20%;
}

.mail-btn a{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    color: #fff;
    font-family: 'raleway', sans-serif;
    font-size: 18px;
    font-weight: 700;
    text-transform: capitalize;
    text-decoration: none;
    padding: 14px 18px;
    background-color: #46C965;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}

/* == closing newsletter area == */

/* == opening footer area == */

#footer{
    background-color: #121212;
    padding-top: 50px;
    padding: 50px;
}

.footer-wrapper{
    width: 50%;
    text-align: center;
    margin: 0 auto;
}

.footer-wrapper h5{
    color: #46C965;
    font-family: 'raleway', sans-serif;
    font-size: 22px;
    font-weight: 700;
    text-transform: uppercase;
    padding-bottom: 20px;
}

.footer-wrapper p{
    color: #48494b;
    font-family: 'montserrat', sans-serif;
    font-size: 16px;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 24px;
    padding-top: 0px;
}
/* == closing footer area == */



